<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about .css">
    <script src="https://kit.fontawesome.com/e3f6d45803.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="socialIcons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.support.google.com"><i class="fa-brands fa-google-plus"></i></a>
        </div>
        <div class="footerNav">   
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Our Team </a></li>
            </ul>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2024; Designed by <span></span></p>
        </div>
    </div>
    <section class="footer">
        <div class="footer-container container">
          <div class="upper-container">
            <div class="a">
              <a href="./home.html">Home</a>
              <a href="./myCart.html">Cart</a>
              <a href="./menSneakers.html#All">Store</a>
              <a href="./faq.html">Faqs</a>
              <a href="./contact.html">Contact Us</a>
            </div>
            <div class="b">
              <a href="facebook.com"><i class="fa-brands fa-facebook"></i></a>
              <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
              <a href="vk.com"><i class="fa-brands fa-vk"></i></a>
              <a href="x.com"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
          <div class="lower-container">
            <img src="https://www.footlocker.com/images/FL/logo.svg" alt="">
            <p>
              © 2024 Footlocker.com, Inc. All Rights Reserved</p>
          
          </div>
        </div>
      </section>
</body>
</html>