<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/myCart.css" />
  </head>
  <body>
    <main>
      <header class="header">
        <div class="search-box-container container">
          <img src="https://www.footlocker.com/images/FL/logo.svg" alt="" />
          <div class="search-box border">
            <input type="search" placeholder="Search" />
            <button>
              <svg
                style="width: 25px; color: white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 22 22"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                />
              </svg>
            </button>
          </div>
          <div class="profile-container border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              style="width: 25px"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
            <p>Sign in | Join us</p>
          </div>
        </div>
        <div class="category-nev-container container">
          <div class="categories">
            <a href="./menSneakers.html">Men's</a>
            <a href="">Women's</a>
            <a href="">Kid's</a>
            <a href="">New Arrivals</a>
            <a href="">Release</a>
            <a href="">Brands</a>
            <a href="">Rewards</a>
          </div>
          <div class="my-cart-container">
            <button class="heart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                />
              </svg>
            </button>
            <a href="./myCart.html" style="text-decoration: none;color: black;" class="my-cart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </header>

      <section class="section-1">
        <div class="section-1-container container">
          <div class="title-container">
            <h5>My Cart</h5>
          </div>
          <div class="my-cart-container">
            <!-- for empty cart state -->
            <div class="empty-cart-container">
              <img
                src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQAjG7dC4dH9CvXVXxaG3ki19wNgiS6IjgCHoE0w3mYFQReFYcG"
                alt=""
              />
              <p>Your cart is empty</p>
            </div>

            <!-- for show item state -->
            <div class="item-in-cart-container">
              <div style="" class="item-group-container" id="itemGroup">
            <!-- append my looping the localStore array object -->
              </div>
              <div class="item-summary-container">
                <h4>Order Summary</h4>
                <div class="summary-container">
                  <div class="header">
                    <p class="subtotal">Subtotal</p>
                    <p class="cost-container">
                      $ <span id="costTotal" >908.99</span>
                    </p>
                  </div>
                  <hr style="margin-left: 40px; margin-right: 40px" />

                  <table style="margin-top: 10px;"  id="orderListGroup" class="">
                    <tr style="height: 40px;">
                      <th style="width: 170px;text-align: start;padding-left: 40px;">Name</th>
                      <th style="text-align: end;">Size</th>
                      <th style="text-align: end;">Quantity</th>
                      <th style="text-align: end;">Price</th>
                      <th style="text-align: end;padding-right: 40px;">Cost</th>
                    </tr>
                  </table>
                </div>
                <button onclick="window.print()">Order</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-2">
        <div class="section-2-container container">
          <div class="header-container">
            <h6>Shop our top brands</h6>
            <div class="brand-container">
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/Resources/shared/brand-logos/nike/nike.svg"
                  alt=""
                />
              </div>
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-new-balance.jpg"
                  alt=""
                />
              </div>
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-adidas.jpg"
                  alt=""
                />
              </div>
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brands-brand-6up-puma.jpg"
                  alt=""
                />
              </div>
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brands-brand-6up-asics.jpg"
                  alt=""
                />
              </div>
              <div class="brand border">
                <img
                  src="https://images.footlocker.com/content/dam/Resources/shared/brand-logos/Ugg-black-logo.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="category-container">
            <h6>Recommended For You</h6>
            <div class="cart-container">
              <div class="cart">
                <div class="cart-upper">
                  <div class="heart-container">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        style="stroke: black; width: 25px; height: 25px"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="img-container">
                    <img
                      src="https://images.footlocker.com/is/image/EBFL2/Q7669103?wid=244&hei=244&fmt=png-alpha"
                      alt=""
                    />
                  </div>
                </div>
                <div class="cart-lower">
                  <h6>Jordan Retro 4</h6>
                  <p>Boy's</p>
                  <a>$ <span>100.00</span></a>
                </div>
              </div>
              <div class="cart">
                <div class="cart-upper">
                  <div class="heart-container">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        style="stroke: black; width: 25px; height: 25px"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="img-container">
                    <img
                      src="https://images.footlocker.com/is/image/EBFL2/Q7669103?wid=244&hei=244&fmt=png-alpha"
                      alt=""
                    />
                  </div>
                </div>
                <div class="cart-lower">
                  <h6>Jordan Retro 4</h6>
                  <p>Boy's</p>
                  <a>$ <span>100.00</span></a>
                </div>
              </div>
              <div class="cart">
                <div class="cart-upper">
                  <div class="heart-container">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        style="stroke: black; width: 25px; height: 25px"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="img-container">
                    <img
                      src="https://images.footlocker.com/is/image/EBFL2/Q7669103?wid=244&hei=244&fmt=png-alpha"
                      alt=""
                    />
                  </div>
                </div>
                <div class="cart-lower">
                  <h6>Jordan Retro 4</h6>
                  <p>Boy's</p>
                  <a>$ <span>100.00</span></a>
                </div>
              </div>
              <div class="cart">
                <div class="cart-upper">
                  <div class="heart-container">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        style="stroke: black; width: 25px; height: 25px"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="img-container">
                    <img
                      src="https://images.footlocker.com/is/image/EBFL2/Q7669103?wid=244&hei=244&fmt=png-alpha"
                      alt=""
                    />
                  </div>
                </div>
                <div class="cart-lower">
                  <h6>Jordan Retro 4</h6>
                  <p>Boy's</p>
                  <a>$ <span>100.00</span></a>
                </div>
              </div>
              <div class="cart">
                <div class="cart-upper">
                  <div class="heart-container">
                    <button>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        style="stroke: black; width: 25px; height: 25px"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="img-container">
                    <img
                      src="https://images.footlocker.com/is/image/EBFL2/Q7669103?wid=244&hei=244&fmt=png-alpha"
                      alt=""
                    />
                  </div>
                </div>
                <div class="cart-lower">
                  <h6>Jordan Retro 4</h6>
                  <p>Boy's</p>
                  <a>$ <span>100.00</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <template id="addedItemTemplate">
        <div class="item-container" id="itemCard">
          <div class="img-container">
            <img class="item-img"
              src="https://images.footlocker.com/is/image/EBFL2/W2288111?wid=250&hei=250"
              alt=""
            />
          </div>
          <div class="detail-container">
            <h3><span class="name"></span> ( <span class="size"></span> )</h3>
            <p>Color : <span class="item-code"></span></p>
            <p class="c">Price : $ <span class="price">115</span></p>

            <div class="quantity-container">
              <div class="a-side">
                Quantity :
                <div class="a">
                  <button class="sub-btn">
                    
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      style="width: 15px;fill: white;pointer-events: none;"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 12h14"
                      />
                    </svg>
                  </button>
                  <span class="quantity">1</span>
                  <button class="add-btn">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      style="width: 15px;fill: white;margin-left: 2px;pointer-events: none;"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="b-side">
                Cost : $ <span class="cost">115</span>
              </div>
            </div>
          </div>
          <div class="button-container">
            <button href="./myCart.html" class="del-btn">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            </button>
          </div>
        </div>
      </template>

      <template id="orderListTemplate">
        <tr style="width: 100%;height: 35px;">
          <td class="item-name" style="width: 170px;text-align: start;padding-left: 40px;">Name</td>
          <td class="item-size" style="text-align: end;">Size</td>
          <td class="item-quantity" style="text-align: end;">Quantity</td>
          <td style="text-align: end;">$ <span class="item-price"></span></td>
          <td style="text-align: end;padding-right: 40px;">$ <span class="costs"></span></td>
        </tr>
      </template>

    </main>
  </body>
  <script type="module" src="../main.js"></script>
</html>
