*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.section-1{
    width: 1200px;
    margin-inline: auto;
    /* border: 1px solid black; */
    height: 750px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .from-container{
        /* border: 1px solid black; */
        width: 45%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        .register-form{
            width: 100%;
            .input-container{
                margin-top: 25px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                label{
                    margin-left: 20px;
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 18px;
                }
                input{
                    width: 90%;
                    margin-left: 20px;
                    height: 40px;
                    padding-inline: 10px;
                    font-size: 15px;
                    outline: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                 }
            }
            p{
                margin-top: 20px;
                margin-left: 20px;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 18px;
                display: flex;
            }
            .payment-container{
                padding-left: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                .payment{
                    border: 1px solid transparent;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;
                    }
                }
            }
            .qrCode-container{
                margin-top:40px;
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                .noPayment{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;gap: 10px;
                }
                img{
                    width: 300px;
                }
                p{
                    margin: 0;
                }
            }
        }
    }
}