<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/index.css" />
  </head>
  <body>
    <main class="">
      <header class="header">
        <div class="search-box-container container">
          <img src="https://www.footlocker.com/images/FL/logo.svg" alt="" />
          <div class="search-box border">
            <input type="search" placeholder="Search" />
            <button>
              <svg
                style="width: 25px; color: white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 22 22"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                />
              </svg>
            </button>
          </div>
          <div class="profile-container border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              style="width: 25px"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
            <p>Sign in | Join us</p>
          </div>
        </div>
        <div class="category-nev-container container">
          <div class="categories">
            <a href="">Men's</a>
            <a href="">Women's</a>
            <a href="">Kid's</a>
            <a href="">New Arrivals</a>
            <a href="">Release</a>
            <a href="">Brands</a>
            <a href="">Rewards</a>
          </div>
          <div class="my-cart-container">
            <button class="heart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                />
              </svg>
            </button>
            <a style="text-decoration: none;color: black;" href="./pages/myCart.html" class="my-cart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="switch-img-container container">
          <img
            src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240804-fl-reckERvNt-nike-jordan-sale-asp.jpg"
            alt=""
          />
        </div>
      </header>

      <section class="section-1">
        <div class="section-1-container container">
          <img
            src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-banner.jpg"
            alt=""
          />
          <div class="">
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-4up-01.jpg"
              alt=""
            />
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-4up-02.jpg"
              alt=""
            />
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-4up-03.jpg"
              alt=""
            />
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-4up-04.jpg"
              alt=""
            />
          </div>
        </div>
      </section>

      <section class="section-2">
        <div class="section-2-container container">
          <a href="">
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reca1bXWd-recaaX9BW-recrz0iju-recnaFceE-recPSvJKC-1up.jpg"
              alt=""
            />
          </a>
          <div>
            <a href="./pages/menSneakers.html">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reckhCElj-mwk-new-arrivals-mens-4up.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reckhCElj-mwk-new-arrivals-womens-4up.jpg"
                alt=""
              />
            </a>

            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reckhCElj-mwk-new-arrivals-kids-4up.jpg"
                alt=""
            /></a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-reckhCElj-mwk-new-arrivals-clothing-accessories-4up.jpg"
                alt=""
            /></a>
          </div>
        </div>
      </section>

      <section class="section-3">
        <div class="section-3-container container">
          <a href="">
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/july/240721-fl-recU7jzjP-nb-promo-v2-thin-banner-a.gif"
              alt=""
            />
          </a>
          <div>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-recKPqs0z-clothing-2up.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2024/august/240805-fl-recjqNrwH-accessories-2up.jpg"
                alt=""
              />
            </a>
          </div>
        </div>
      </section>

      <section class="section-4">
        <div class="section-4-container container">
          <div class="title-container">
            <h4>Back to School Kicks</h4>
          </div>
          <div class="item-container">
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-D1391100.jpg"
                alt=""
              />
              <p>Nike Dunk Low</p>
            </div>
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-31086401.jpg"
                alt=""
              />
              <p>PUMA LaFrance Moment</p>
            </div>
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-kfl-D2920111-update.jpg"
                alt=""
              />
              <p>Nike Air Force 1 Low</p>
            </div>
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-IE0429.jpg"
                alt=""
              />
              <p>Adidas Originals Gazelle Bold</p>
            </div>
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-V1358001.jpg"
                alt=""
              />
              <p>Nike Zoom Vomero 5</p>
            </div>
            <div class="item-card">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/new-arrivals/new-arrival-6up-H5484.jpg"
                alt=""
              />
              <p>Adidas Originals Gazelle Indoor</p>
            </div>
          </div>
          <a href="">
            <img
              src="https://images.footlocker.com/content/dam/final/footlocker/site/backpages/2024/asp/240808-fl-reckzFipl-nike-dunk-low-w-launch-asp.jpg"
              alt=""
            />
          </a>
          <div class="brand-container">
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-nike-jordan.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-new-balance.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-adidas.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brands-brand-6up-asics.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/footlocker/site/backpages/2024/back-to-school/240708-fl-flca-83998-bts-lp-brand-6up-on.jpg"
                alt=""
              />
            </a>
            <a href="">
              <img
                src="https://images.footlocker.com/content/dam/final/FootLockerInc/site/evergreen/brand-6up-hoka.jpg"
                alt=""
              />
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script type="module" src="./main.js"></script>
</html>
