.section-1 {
  width: 100%;
  height: 120px;
  border: 1px solid black;
  background-color: black;

  .section-1-container {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-1-brand-logo {
      img {
        width: 200px;
      }
    }
    .section-1-search-bar {
      background-color: white;
      width: 600px;
      height: 100%;
      border-radius: 5px;
      display: flex;
      place-items: center;
      justify-content: space-between;
      input {
        width: 90%;
        height: 100%;
        outline: none;
        padding: 0 10px 0 10px;
        border: none;
        border-radius: 5px;
      }
      label {
        #searchBtn {
          height: 43px;
          width: 43px;
          border-radius: 50%;
          border: none;
          background-color: black;
          margin-right: 5px;
          #searchBtn:active {
            transform: scale(50%);
          }
          i {
            font-size: larger;
            color: white;
            pointer-events: none;
          }
        }
        #searchBtn:active {
          transform: scale(90%);
          transition-duration: 200ms;
        }
      }
    }
    .section-1-support {
      width: 100px;
      margin-left: 100px;
      height: 100%;
      display: flex;
      place-items: center;
      justify-content: space-around;
      i {
        color: white;
        font-size: 25px;
      }
      button {
        background-color: black;
        border: none;
        i {
          pointer-events: none;
        }
      }
      button:active {
        transform: scale(90%);
        transition-duration: 200ms;
      }
    }
  }
}

.nevBar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 52px;
  background-color: black;
  position: sticky;
  background-color: black;
  z-index: 50;
  top: 0;
  .nevBar-Menu {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 370px 0 370px;
    place-items: center;
    justify-content: space-evenly;
    color: white;
    .pages-hover-box {
      border: 1px solid black;
      width: 230px;
      position: absolute;
      top: 51px;
      left: 950px;
      border-radius: 5px;
      background-color: black;
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      opacity: 0;
      height: 0px;
      transition-duration: 500ms;
      border-top: 1px solid gray;
      p {
        padding-left: 40px;
        pointer-events: none;
        height: 0;
      }
    }
    .pages-hover-box:hover {
      height: 200px;
      opacity: 100;
      pointer-events: all;
      border: 1px solid gray;
    }
    .pages-hover-box:hover p {
      pointer-events: all;
      height: auto;
    }
    p {
      font-size: 16px;
      font-weight: 700;
      i {
        transition-duration: 300ms;
        margin-left: 3px;
      }
    }
    p:hover {
      color: red;
      transition-duration: 200ms;
    }
    .pages:hover i {
      transform: rotate(-180deg);
      transition-duration: 300ms;
    }
    .pages:hover + .pages-hover-box {
      height: 200px;
      opacity: 100;
      /* padding-top: 40px; */
      pointer-events: all;
      border: 1px solid gray;
    }
    .pages:hover + .pages-hover-box p {
      pointer-events: all;
      height: auto;
    }
  }
}

.section-2 {
  width: 100%;
  height: 720px;
  background-color: black;
  padding: 80px 230px 80px 230px;
  .section-2-container {
    height: 540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 80px 0 50px 0;
    .section-2-content-a {
      width: 690px;
      height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      animation-name: slideUp;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.4, 0, 0.73, 0.98);
      h1 {
        font-size: 52px;
        color: white;
      }
      h3 {
        font-size: 30px;
        font-weight: 800;
        line-height: 50px;
        color: red;
        margin-top: 20px;
      }
      .section-2-view-product-btn {
        border: 1px solid white;
        color: black;
        display: flex;
        place-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        p {
          font-size: 16px;
          font-weight: 600;
          color: red;
        }
      }
    }
    .section-2-content-b {
      width: 690px;
      height: 357px;
      display: flex;
      place-items: center;
      justify-content: center;
      animation-name: slideDown;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.4, 0, 0.73, 0.98);
    }
  }
  .fiveBtnContainer {
    margin-top: 50px;
    width: 100%;
    height: 16px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 5px;
    button {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: none;
    }
    button:active {
      transform: scale(90%);
      transition-duration: 200ms;
    }
  }
}

.rotatingImagesContainer {
  background-color: black;
  width: 100%;
  height: 130px;
  padding: 40px 230px 40px 230px;
  .rotatingImages {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    div {
      width: 100%;
      /* animation-name: slide; */
      /* animation-duration: 10s; */
      /* animation-timing-function: linear; */
      /* animation-iteration-count: infinite; */
      display: inline-block;
      img {
        height: 50px;
        margin: 0 30px;
      }
    }
  }
}

.section-3 {
  width: 100%;
  height: 1080px;
  background-color: black;
  padding: 100px 230px;
  color: white;
  .section-3-container {
    .section-3-header {
      width: 100%;
      height: 114px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      .header-upper-line {
        border: 1px solid white;
        width: 0;
      }
      .header-mid {
        flex-grow: 1;
        display: flex;
        place-items: center;
        gap: 10px;
        h3 {
          font-size: 38px;
        }
        h2 {
          font-size: 38px;
          color: red;
        }
      }
      .header-lower-line {
        border: 1px solid white;
        width: 0;
      }
    }
    .section-3-body {
      width: 100%;
      height: 726px;
      display: flex;
      place-items: center;
      justify-content: space-between;
      .section-3-body-left:hover,.section-3-body-right:hover{
        border: 1px solid white;
        img{
          transform: scale(115%);
        }
        div{
          height: 100%;
          padding-top: 624px;
        }
      }
      .section-3-body-left,
      .section-3-body-center,
      .section-3-body-right {
        width: 450px;
        height: 100%;
        border-radius: 15px;
        border: 1px solid transparent;
        transition-duration: 150ms;
      }
      .section-3-body-left,
      .section-3-body-right {
        display: flex;
        place-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        img {
          min-height: 722px;
          max-height: 722px;
          transition-duration: 400ms;
        }
        div {
          width: 100%;
          height: 200px;
          position: absolute;
          transition-duration: 400ms;
          bottom: 0;
          background-color: transparent;
          background: rgb(0, 0, 0);
          background: linear-gradient(
            0deg,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.493) 53%,
            rgba(0, 0, 0, 0) 100%
          );
          padding: 100px 35px 35px 35px;

          h5 {
            font-size: 22px;
            font-weight: 700;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            margin-top: 5px;
          }
        }
      }
      .section-3-body-center {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: space-between;
        a {
          text-decoration: none;
          width: 100%;
          border: 1px solid transparent;
          transition-duration: 150ms;
          height: 349px;
          display: block;
          border-radius: 15px;
          display: flex;
          place-items: center;
          justify-content: center;
          overflow: hidden;
          position: relative;
          color: white;
          .img1 {
            width: 100%;
            transition-duration: 400ms;
            /* height: 100%; */
          }
          .img2 {
            transition-duration: 400ms;
            height: 100%;
          }
          div {
            transition-duration: 400ms;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            background-color: transparent;
            background: rgb(0, 0, 0);
            background: linear-gradient(
              0deg,
              rgb(0, 0, 0) 0%,
              rgba(0, 0, 0, 0.493) 53%,
              rgba(0, 0, 0, 0) 100%
            );
            padding: 100px 35px 35px 35px;
  
            h5 {
              font-size: 22px;
              font-weight: 700;
            }
            p {
              font-size: 16px;
              font-weight: 600;
              margin-top: 5px;
            }
          }
        }
        .body-center1:hover,.body-center2:hover{
          border: 1px solid white;
          img{
            transform: scale(115%);
          }
          div{
            height: 100%;
            padding-top: 247px;
          }
        }
      }
    }
  }
}

.section-4{
  color: white;
  width: 100%;
  height: 910px;
  background-color: black;
  margin: 100px 0;
  .section-4-container{
    width: 100%;
    height: 100%;
    .section-4-header {
      width: 100%;
      height: 114px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      .header-upper-line {
        border: 1px solid white;
        width: 100%;
      }
      .header-mid {
        flex-grow: 1;
        display: flex;
        place-items: center;
        gap: 10px;
        h3 {
          font-size: 38px;
        }
        h2 {
          font-size: 38px;
          color: red;
        }
      }
      .header-lower-line {
        border: 1px solid white;
        width: 100%;
      }
    }
    .section-4-body{
      width: 100%;
      height: 756px;
      display: grid;
      place-content: space-between;
      column-gap: 65px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      .section-4-body-card{
        width: 686px;
        height: 363px;
        display: flex;
        place-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        transition-duration: 300ms;
        .card-img-container{
          
          img{
            width: 363px;
          };
        }
        .card-detail-container{
          width: 300px;
          height: 100%;
          padding: 50px 30px 50px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          h6{
            font-weight: 700;
            font-size: 20px;
          }
          .card-stars-container{
            display: flex;
            gap: 3px;
            i{
              color: red;
              font-size: 16px;
            }
          }
          .price{
            color: red;
            font-size: 19px;
            font-weight: 700;
          }
          .button-container{
            width: 100%;
            display: flex;
            place-items: center;
            justify-content: space-between;
            .add-to-cart-btn{
              width: 45%;
              height: 40px;
              border: 1px solid transparent;
              color: white;
              font-size: 14px;
              font-weight: 300;
              background-color: red;
              border-radius: 5px;
              transition-duration: 300ms;
            }
            .add-to-cart-btn:hover{
              border: 1px solid red;
              background-color: transparent;
              color: red;
            }
            .add-to-cart-btn:active,.view-details-btn:active{
              transform: scale(90%);
            }
            .view-details-btn:hover{
              border: 1px solid black;
              background-color: transparent;
              color: black;
            }
            .view-details-btn{
              transition-duration: 300ms;
              width: 45%;
              height: 40px;
              border: 1px solid red;
              background-color: white;
              color: red;
              font-size: 14px;
              font-weight: 300;
              border-radius: 5px;
            }
          }
        }
      }
      .section-4-body-card:hover{
        background-color: white;
        color: black;
      }
    }
  }
}

.section-5{
  border: 1px solid white;
  width: 100%;
  height: 727px;
  padding: 100px 230px 100px 230px;
  .section-5-container{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    place-items: center;
    justify-content: space-between;
    .section-5-a{
      border: 1px solid white;
      height: 100%;
      display: flex;
      place-items: center;
      margin-left: 10px;
      gap: 15px;
      .section-5-a-imgs-container{
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        gap: 10px;
        div{
          width: 80px;
          height: 80px;
          border: 1px solid white;
          border-radius: 5px;
          display: flex;
          place-items: center;
          justify-content: center;
          overflow: hidden;
          img{
            height: 80px;
          }
        }
      }
      .section-5-a-img-container{

        img{
          width: 698px;
          /* height: 319px; */
        }
      }
    }
    .section-5-b{
      border: 1px solid white;
      /* width: 413px; */
      height: 100%;
      padding: 30px 20px 40px 0px;
    }
  }
}

.section-6{
  width: 100%;
  height: 710px;
  margin: 100px 0px;
  color: white;
  .section-6-container{
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    .section-6-header{
      width: 100%;
      height: 116px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      h5{
        font-size: 38px;
        font-weight: 800;
      }
      p{
        font-size: 17px;
        color: darkgrey;
        text-align: center;
      }
    }
    .section-6-body{
      width: 100%;
      height: 554px;
      .user-profiles-container{
        width: 100%;
        height: 120px;
        display: flex;
        place-items: center;
        justify-content: center;
        gap: 15px;
        .user-profile{
          border: 2px solid black;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          transition-duration: 200ms;
          overflow: hidden;
          display: flex;
          place-items: center;
          justify-content: center;
          background-color: transparent;
          padding: 5px;
          div{
            width: 100px;
            height: 100px;
            display: flex;
            place-items: center;
            justify-content: center;
            pointer-events: none;
            img{
              width: 100px;
              border-radius: 50%;
              pointer-events: none;
            }
          }
        }
        .user-profile:nth-child(even){
          margin-top: 80px;
        }
        .user-profile:hover{
          border: 2px solid white;
        }
        /* .user-profile:active{
          background-color: red;
        } */
    }
    .user-comments-container{
      width: 100%;
      height: 354px;
      padding-top: 15px;
      margin-top: 70px;
      padding: 0 375px;
      color: white;
      display: flex;
      flex-direction: column;
      place-items: center;
      div{
        display: flex;
        height: 100%;
        border-bottom: 2px solid white;
        flex-direction: column;
        place-items: center;
        transition-duration: 300ms;
        img{
          width: 40px;
          margin-bottom: 5px;
        }
        .user-name{
          font-size: 24px;
        }
        .user-job{
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .user-reviews{
          font-size: 18px;
          margin: 20px 0 30px 0;
          text-align: center;
          line-height: 28px;
          color: darkgray;
        }
      }
    }
  }
  }
}

.section-7{
  border: 1px  solid white;
  width: 100%;
  height: 655px;
  margin: 100px 0;
  color: white;
  .section-7-container{
    width: 100%;
    height: 100%;
    .section-7-header{
      height: 116px;
      margin-bottom: 40px;
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h5{
        font-size: 38px;
        font-weight: 800;
      }
      p{
        line-height: 28px;
        color: darkgray;
        text-align: center;
      }
    }
    .section-7-body{
      height: 495px;
      border: 1px solid white;
      display: flex;
      justify-content: space-between;
      .blog-card{
        border: 1px solid white;
        width: 440px;
        height: 100%;
      }
    }
  }
}